/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  width: 95%;
  line-height: 32px;
}

body {

}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  height: 100px;
  margin-bottom: 20px;
  background-color: light-grey;
}

#left {
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  background: black;
  float: left;
  width: 33.33%;
  height: 60px;
}

#middle {
  float: left;
  width: 33.33%;
  height: 60px;
  background-color: rgb(68, 67, 67);
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

#right {
  float: left;
  width: 33.33%;
  height: 60px;
  background-color: black;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

#full {
  background-color: lightgray;
  height: 180px;
  padding: 20px;
  color: black;
  margin-bottom: 20px;

}

#division {
  background-color: rgb(74, 147, 243);
  width: 95%;
  padding: 20px;
  
}

aside {
  padding: 20px;
  width: 33.33%;
  background-color: white;
  float: left;
  margin: 10px 40px;
  height: 140px;
}

footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}